pane_frames false

keybinds {
  normal {
    unbind "Ctrl p"
    unbind "Ctrl a"
    unbind "Ctrl t"
    unbind "Ctrl n"
    bind "Ctrl f" { ToggleFocusFullscreen ; SwitchToMode "Normal"; }
    // bind "Alt s" { ToggleStackPanes; SwitchToMode "Normal"; }
    bind "Ctrl [" { PreviousSwapLayout; SwitchToMode "Normal"; }
    bind "Ctrl ]" { NextSwapLayout; SwitchToMode "Normal"; }
  }
}

default_layout "compact"
// layout_dir "~/.config/zellij/layouts"
